<div>
  <p id="notice"><%= notice %></p>
</div>

<h1><%=t(:mems)%></h1>

<table>
  <thead>
    <tr>
      <th><%=t(:title)%></th>
      <th><%= t(:context)%></th>
      <th><%= t(:top_text)%></th>
      <th><%= t(:bottom_text)%></th>
      <th><%= t(:photo)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mems.each do |mem| %>
      <tr>
        <td><%= mem.title %></td>
        <td><%= mem.context %></td>
        <td><%= mem.top_text %></td>
        <td><%= mem.bottom_text %></td>
        <td><%= link_to t(:show), mem %></td> <!-- show mem -->
        <td><%= link_to t(:edit), edit_mem_path(mem), method: :get %></td>
        <td><%= link_to t(:destroy), mem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to t(:new_mem), new_mem_path, method: :get %>
