<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:title) %>: </strong>
  <%= @mem.title %>
</p>

<p>
  <strong><%= t(:context) %>:</strong>
  <%= @mem.context %>
</p>

<p>
  <strong><%=t(:top_text)%>:</strong>
  <%= @mem.top_text %>
</p>

<p>
  <strong><%=t(:bottom_text)%>:</strong>
  <%= @mem.bottom_text %>
</p>

<div id='posts' onload="draw_posts('<%=Mem.new.mem(@mem)%>')" >
</div>

<%= link_to t(:edit), edit_mem_path(@mem) %> |
<%= link_to t(:back), mems_path %>
