<p id="notice"><%= notice %></p>

<p>
  <strong><%=t(:title) %> :</strong>
  <%= @photo.title %>
</p>

<p>
  <%= image_tag @photo.normal %>
</p>

<%= link_to t(:edit), edit_photo_path(@photo) %> |
<%= link_to t(:back), photos_path %>
