<h1><%= t(:posts) %></h1>
<div class="conteiner">
    <div>
        <%= form_tag("/posts/lasts.json", :method => "get", 
                    remote: 'true', id: "lasts") do %>
        <%= submit_tag(t(:lasts), class: "btn-lg btn-page") %> 
        <% end %>
        <%= form_tag("/posts/popular.json", :method => "get", 
                    remote: 'true', id: "popular") do %>
        <%= submit_tag(t(:populars), class: "btn-lg btn-page") %> 
        <% end %>
    </div>
</div>
<div id="posts">
</div>