<!DOCTYPE html>
<html>
  <head>
    <title>Mems3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-default">
  <div class="container-fluied">
  <div class="mr">
    <a href="/<%= locale %>"><img src="<%= asset_path('logo1.jpg') %>" alt='Logo' style='width:350px;' /></a>
    <%= link_to 'English', { locale: :en }, class: "btn btn-default" unless current_page?(locale: :en) %>
    <%= link_to 'Русский', { locale: :ru }, class: "btn btn-default" unless current_page?(locale: :ru) %>
    <% unless user_signed_in? %>
      <%= link_to t(:login), new_user_session_path, class:"btn btn-default mr-2" %>
      <%= link_to t(:sign_up), new_user_registration_path, class:"btn btn-default" %>
    <% else %>
      <%= link_to t(:sign_out), destroy_user_session_path, method: :delete, class:"btn btn-default" %>
    <% end %>
  </div>
  </div>
  </nav>
  <main>
      <%= yield %>
  </main>
  </body>
</html>
